/* Frontend Styles */

.amb-metadata-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    background-color: #f9f9f9;
}

.amb-metadata-box h4 {
    /*font-size: 1em ;
    margin-top: 0;
    */
    margin: 10px 0 5px 0;
}

.amb-metadata-box ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    align-items: center; 
}

.amb-metadata-box ul>li{
    margin-right: 10px; 
    padding: 5px; 
}

.amb-metadata-box ul>li:not(:last-child):after {
    content: "|"; 
    margin-left: 10px; /
}